<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>CityWeather</title>
</head>
<body>
    <header>
        <h1>CityWeather</h1>
        <p>What News About The Time</p>
    </header>

    <main>
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="CityWeather Image">
        </div>
        <section id="search">
            <h2>Get The Weather</h2>
            <form id="weather-form">
                <input type="text" name="city" id="city" placeholder="Enter city name" required>
                <button type="submit">Search</button>
            </form>
        </section>

        <div class="error" id="error-message" style="display: none;"></div>

        <section id="weather">
            <h2>Weather in <span id="weather-city"></span></h2>
            <ul>
                <li class="weather-item"><img src="{{ url_for('static', filename='images/temperature.png') }}" alt="Temperature Icon">Temperature: <span class="weather-value" id="weather-temperature"></span>°C</li>
        <li class="weather-item"><img src="{{ url_for('static', filename='images/pressure.png') }}" alt="Pressure Icon">Pressure: <span class="weather-value" id="weather-pressure"></span> hPa</li>
        <li class="weather-item"><img src="{{ url_for('static', filename='images/humidity.png') }}" alt="Humidity Icon">Humidity: <span class="weather-value" id="weather-humidity"></span>%</li>
        <li class="weather-item"><img src="{{ url_for('static', filename='images/wind.png') }}" alt="Wind Icon">Wind Speed: <span class="weather-value" id="weather-wind"></span> m/s</li>
        <li class="weather-item"><img src="{{ url_for('static', filename='images/condition.png') }}" alt="Condition Icon">Condition: <span class="weather-value" id="weather-condition"></span></li>
        <li class="weather-item"><img src="{{ url_for('static', filename='images/description.png') }}" alt="Description Icon">Description: <span class="weather-value" id="weather-desc"></span></li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 CityWeather. All Rights Reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>